<div ng-controller="booksController as bkCtrl">
      <div class="booklist">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="input-group input-group-sm">
           <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-filter"></span></span> <input type="text" class="form-control" placeholder="Filter by name, genre or author" ng-model="searchBook">
        </div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
        <table class="table table-hover table-striped table-bordered">
          <tr ng-show="true" ng-repeat="bk in books | filter:BooksFilter(searchBook)">
            <td class="shop-row-1"><img class="book-thumb img-thumbnail" ng-src="{{bk.imageUrl}}"></td>
            <td class="shop-row-2">
              <div style="text-align: left;">
                <strong>{{bk.name}}</strong> {{bk.price | currency}}
              </div>
              <div>By {{bk.author}}</div>
              <div class="center">{{bk.description}}</div>
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <button id="btnRev{{bk.bid}}" class="btn btn-info" data-toggle="collapse" data-target="#collapse{{bk.bid}}">
                        <span class="glyphicon glyphicon-comment"></span> Reviews <span class="badge">{{bk.reviewCount}}</span>
                      </button>
                    </h4>
                  </div>
                  <div id="collapse{{bk.bid}}" class="panel-collapse collapse">
                    <ul class="list-group">
                      <li class="list-group-item" data-ng-repeat="re in bk.reviews">
                        <div>{{re.nickname}}</div>
                        <div>{{re.reviewBody}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
            <td class="shop-row-3">
            <div class="mypop" id="btnLike{{bk.bid}}" data-trigger="manual" data-html="true" data-toggle="popover" data-placement="bottom" title="Liked by" data-content="{{bk.likesstring}}">
              <span  class="label label-info mylikeclass">
                <span style="vertical-align: text-bottom;" class="glyphicon glyphicon-thumbs-up"></span> <span class="badge">   {{bk.likescount}}</span> 
              </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
    </div>