<div ng-controller="detailsController as dCtrl">
  <div class="container-fluid wellwellwell2">
    <table class="table table-stripped table-condensed">
      <tr>
        <td style="width: 10%;">
          <!-- photo --> <img class="img-responsive" src="{{us.photo_url}}">
        </td>
        <td style="width: 30%;">
          <!-- username nickname email -->
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-6 control-label">Username</label>
              <div>
                <p class="form-control-static">{{us.username}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Nickname</label>
              <div>
                <p class="form-control-static">{{us.nickname}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Email</label>
              <div>
                <p class="form-control-static">{{us.email}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Phone phone</label>
              <div>
                <p class="form-control-static">{{us.email}}</p>
              </div>
            </div>
          </form>
        </td>
        <td style="width: 30%;">
          <!-- adress telephone -->
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-6 control-label">Street name</label>
              <div>
                <p class="form-control-static">{{us.stName}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Block number</label>
              <div>
                <p class="form-control-static">{{us.blNum}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">City name</label>
              <div>
                <p class="form-control-static">{{us.cityName}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">ZIP code</label>
              <div>
                <p class="form-control-static">{{us.zip}}</p>
              </div>
            </div>
          </form>
        </td>
        <td>
          <!-- description -->
          <form>
            <div class="form-group">
              <label class="control-label">Description</label>
              <div>
                <p class="form-control-static">{{us.description}}</p>
              </div>
            </div>
          </form> <!-- Likes and reviews counters -->
          <button class="btn btn-danger" ng-click="dCtrl.deleteUser(us.uid)">Delete User</button>
        </td>
      </tr>
    </table>
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item"><div><h5>Likes {{us.likes.length}} books</h5></div>
          <li class="list-group-item" ng-repeat="li in us.likes">{{li.bName}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item"><div><h4>Reviewed {{us.reviews.length}} books</h4></div>
          <li class="list-group-item" ng-repeat="li in us.reviews">
            <ul class="list-group">
              <li class="list-group-item list-group-item-info">{{li.bookName}}</li>
              <li class="list-group-item">{{li.reviewBody}}</li>
            </ul>
      </div>
    </div>


  </div>
</div>