<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Unknown Worlds</title>
<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/Main.css">
<link rel="stylesheet" href="css/loader.css">

<script type="text/javascript" src="lib/jquery-3.2.1.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/angular.min.js"></script>

<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/validationFunctions.js"></script>

<script type="text/javascript" src="js/popoverInit.js""></script>

</head>
<body ng-app="library" ng-controller="LandingController as lCtrl">
  <div class="container-fluid">

    <!-- login section, visible by default on opening the page -->

    <!-- Temporary removed to ease development - look in the login.html -->

<div ng-if="true" ng-include="navPointer"></div>

    <!-- Registration, not visible by default -->

    <!-- Temporary removed to ease development - look in the registration.html -->


    <!-- Library begins here -->
    <div ng-if="navLibrary" ng-controller="LibController as lib">
      <div class="booklist">
        <div class="row">
          <div class="col-xs-12">

            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><ul class="list-inline">
                      <li><img class="img-rounded" width="32px" src="img/logo.png" alt="logo"></li>
                      <li>Unknown Worlds</li>
                    </ul></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link2</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul></li>
                  </ul>
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
                <!-- /.navbar-collapse -->
              </div>
              <!-- /.container-fluid -->
            </nav>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
            <table class="table table-hover table-striped table-bordered ">
              <tr class="center" ng-show="product.canRead" ng-repeat="product in lib.products">
                <td><img class="img-thumbnail" style="height: 128px;" ng-src="{{product.imageURL}}"></td>
                <td>
                  <div>{{product.name}}</div>
                  <div>{{product.price | currency}}</div>
                  <div>{{product.description}}</div>
                </td>
                <td>
                  <div data-trigger="hover" data-toggle="popover" data-placement="bottom" title="Liked by" data-content="here names of people that like this book ">Likes
                    count here</div>
                  <div>
                    <button class="btn btn-default" on-click="lib.openreview(product.name)">
                      Read reviews <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                  </div>
                  <div>
                    <button class="btn btn-default" ng-show="product.canBuy">
                      Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>
</html>