<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Unknown Worlds</title>
<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/Main.css">

<script type="text/javascript" src="lib/jquery-3.2.1.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/angular.min.js"></script>

<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/validationFunctions.js"></script>

<script type="text/javascript" src="js/popoverInit.js""></script>

</head>
<body ng-app="library" ng-controller="LandingController as lCtrl">
  <div class="container-fluid">
  
    <!-- login section, visible by default on opening the page -->
    
    <!-- Temporary removed to ease development - look in the login.html -->
    

    <!-- Registration, not visible by default -->

    <!-- Temporary removed to ease development - look in the registration.html -->
    
    
    <!-- Library begins here -->
    <div ng-if="navLibrary" ng-controller="LibController as lib">
      <div>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Picture</th>
          <th>Likes</th>
          <th>Purchase</th>
          <th>Review</th>
        </tr>
        <tr ng-repeat="product in lib.products" ng-show="product.canRead">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td>{{product.description}}</td>
          <td>Picture url here</td>
          <td>Likes here</td>
          <td><button class="btn btn-default" ng-show="product.canBuy">Add to Cart</button></td>
          <td><button class="btn btn-default" on-click="lib.openreview(product.name)">Read reviews</button></td>
        </tr>
      </table></div>
    </div>
  </div>

</body>
</html>