@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	/*
  * overflow: hidden
  */
	padding: 0;
	background-color: #637a7e;
	font-family: Tahoma, Geneva, sans-serif;
	/* google fonts to test
	<link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
	font-family: 'Amiko';
	font-family: 'Amarante';
	font-family: 'Alef';
	font-family: 'Alike'; */
}

.account-wall {
	position: relative;
	margin-top: 50px;
	padding: 30px 15px 30px 15px;
	background-color: #eee;
	box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	color: #142d36;
}

.auth-fail, .reg-fail {
	position: inherit;
	display: block;
	margin-top: 4px;
	border-radius: 12px;
	font-size: inherit;
}

.Title {
	font-family: 'Oxygen', sans-serif;
	/* font-family: Georgia, serif; */
}

.optional {
	background-color: #d9edf7;
	box-shadow: 0px 0px 10px 1px #d9edf7;
}

.popover-title {
	color: black;
}

.popover {
	color: black;
}

.debug {
	background-color: black;
	color: white;
}

.booklist {
	background: #FFFFFF;
	border-radius: 6px;
}

.center {
	text-align: center;
}

.book-thumb {
	width: 85%;
}

.shop-row-1 {
	width: 15%;
	min-width: 100px;
	max-width: 200px;
}

.popover-title {
	background-color: #d9edf7;
}

.shop-row-2 {
	width: 70%;
}

.shop-row-3 {
	width: 15%;
	text-align: center;
}

.mylikeclass{
	margin: 10px 10px;
	padding: 7px 10px;
}

.reading_pane {
	background-color: #FFFFE8;
}

.reading_pane>*>p {
	font-size: medium;
	text-align: justify;
	padding: 0px 12px;
}

.pagenum {
	display: none;
}

.reading_pane>*>.blockquot {
	text-align: center;
}

.reading_pane>*>.sig {
	text-align: center;
}

.reading_pane>*>h1 {
	text-align: center;
}

.reading_pane>*>h2 {
	text-align: center;
}

.reading_pane>*>h3 {
	text-align: center;
}

.reading_pane>*>h4 {
	text-align: center;
}